@import 'bootstrap/dist/css/bootstrap';

body {
  background-color: rgba(0, 0, 0, 0.925)
}

.my-picture {
  display: block;
  margin: 9% auto 3% auto;
  height: auto;
  width: 80%;
  border-radius: 10%;
}

@media (min-width: 0px) {
  .my-picture {
    margin: 8% auto 2.7% auto;
    width: 75%;
  }
}

@media (min-width: 768px) {
  .my-picture {
    margin: 7% auto 2.4% auto;
    width: 70%;
  }
}

@media (min-width: 992px) {
  .my-picture {
    margin: 6% auto 2.1% auto;
    width: 65%;
  }
}

@media (min-width: 1200px) {
  .my-picture {
    margin: 5% auto 1.8% auto;
    width: 60%;
  }
}

@media (min-width: 1400px) {
  .my-picture {
    margin: 12% auto 1.5% auto;
    width: 65%;
  }

  #about-subtitle {
    padding-top: 14%;
  }

  #projects {
    margin-top: 21%;
    padding-top: 8%;
  }

  #contact-subtitle {
    padding-top: 9%;
  }

  #end {
    padding-top: 9.5%;
  }
}

.title-text {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 75px;
}

.subtitle-text {
  color: rgb(255, 246, 192);
}

.body-text {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 30px;
}

.subtitle-text {
  font-size: 36px;
}

.body-text {
  font-size: 24px;
}

.anchors {
  padding-top: 60px;
}

.navbar-custom {
  background-color: rgba(0, 0, 0, 0.925);
}

.devicon i {
  font-size: 100px;
  color: white;
  padding: 50px;
}

.devicon-border {
  margin-top: 2%;
}

.carousel-caption {
  opacity: .8;
  position: relative;
  left: 0;
  top: 0;
}

.carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-indicators {
  bottom: -1%;
  filter: invert(100%);
}

.carousel-caption a {
  color: white; 
  cursor: pointer;  
}

.hidden {
  display: none;
}