@import 'bootstrap/dist/css/bootstrap';

body{
  background-color: rgba(0, 0, 0, 0.950);
  padding-top:60px;
}

.my-picture {
  display: block;
  margin: 3% auto 0 auto;
  height: auto;
  width: 55%;
  border-radius: 10%;
}

.title-text {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 75px;
}

.body-text {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 30px;
}

.subtitle-text {
  font-size: 36px;
}

.body-text {
  font-size: 24px;
}

.anchors {
  padding-top: 60px;
}

// .white-border {
//   border-top: 3px solid white;
//   margin-top: 3%;
// }