@import 'bootstrap/dist/css/bootstrap';

body {
  background-color: rgba(0, 0, 0, 0.925)
}

@media (min-width: 0px) {
  #bootstrap-messages {
    padding-top: 10%;
  }

  .my-picture {
    display: block;
    height: auto;
    border-radius: 10%;
    margin: 35% auto 1.5% auto;
    width: 75%;
  }

  #greeting {
    font-size: 250%;
  }

  .body-text {
    font-size: 100% !important;
  }

  #about {
    margin-top: 55%;
  }

  #about-subtitle {
    padding-top: 30%;
  }

  .devicon i {
    font-size: 50px;
    color: white;
    padding: 10px;
  }

  #projects {
    margin-top: 21%;
  }

  #projects-subtitle {
    padding-top: 55%;
  }

  .carousel-caption {
    display: none;
  }

  #contact {
    margin-top: 50%;
  }

  #contact-subtitle {
    padding-top: 19%;
  }

  #end {
    padding-top: 19.5%;
  }

  .messages {
    margin: 3% auto -3% auto;
  }
}

@media (max-width: 768px) {
  .end-socials {
    height: 10%;
    width: 10%;
  }

  .email-field {
    margin-top: 5%;
  }

  .submit-button {
    font-size: 80%;
  }
}  

@media (min-width: 768px) {
  #bootstrap-messages {
    padding-top: 7%;
  }

  .my-picture {
    display: block;
    height: auto;
    border-radius: 10%;
    margin: 34% auto 1.5% auto;
    width: 70%;
  }

  #greeting {
    font-size: 350%;
  }

  .body-text {
    font-size: 175% !important;
  }

  #about {
    margin-top: 35%;
  }
  
  #about-subtitle {
    padding-top: 18%;
  }

  .devicon i {
    font-size: 80px;
    color: white;
    padding: 50px;
  }
  
  .devicon-border {
    margin-top: 2%;
  }

  #projects {
    margin-top: 21%;
  }

  #projects-subtitle {
    padding-top: 26%;
  }

  .carousel-caption {
    display: block;
  }

  #contact {
    margin-top: 15%;
  }

  #contact-subtitle {
    padding-top: 18%;
  }

  #end {
    padding-top: 30%;
  }

  .messages {
    margin: 3% auto -3% auto;
  }
}

@media (min-width: 992px) {
  #bootstrap-messages {
    padding-top: 5%;
  }

  .my-picture {
    display: block;
    height: auto;
    border-radius: 10%;
    margin: 22% auto 1.5% auto;
    width: 65%;
  }

  #greeting {
    font-size: 350%;
  }
  
  .body-text {
    font-size: 175% !important;
  }

  #about {
    margin-top: 11%;
  }

  #about-subtitle {
    padding-top: 15%;
  }

  .devicon i {
    font-size: 100px;
    color: white;
    padding: 50px;
  }
  
  .devicon-border {
    margin-top: 2%;
  }

  #projects {
    margin-top: 15%;
  }

  #projects-subtitle {
    padding-top: 17%; 
  }

  .carousel-caption {
    display: block;
  }

  #contact {
    margin-top: 0%;
  }

  #contact-subtitle {
    padding-top: 24%;
  }

  #end {
    padding-top: 25%;
  }

  .messages {
    margin: 3% auto -3% auto;
  }
}

@media (min-width: 1200px) {
  #bootstrap-messages {
    padding-top: 3%;
  }

  .my-picture {
    display: block;
    height: auto;
    border-radius: 10%;
    margin: 15% auto 1.5% auto;
    width: 65%;
  }

  #greeting {
    font-size: 400%;
  }
  
  .body-text {
    font-size: 175% !important;
  }

  #about {
    margin-top: 3%;
  }

  #about-subtitle {
    padding-top: 18%;
  }
  
  .devicon i {
    font-size: 100px;
    color: white;
    padding: 50px;
  }
  
  .devicon-border {
    margin-top: 2%;
  }

  #projects {
    margin-top: 21%;
  }

  #projects-subtitle {
    padding-top: 12%; 
  }

  .carousel-caption {
    display: block;
  }

  #contact {
    margin-top: 0%;
  }

  #contact-subtitle {
    padding-top: 22%;
  }

  #end {
    padding-top: 19.5%;
  }

  .messages {
    margin: 3% auto -3% auto;
  }
}

@media (min-width: 1400px) {
  #bootstrap-messages {
    padding-top: 1%;
  }

  .my-picture {
    display: block;
    height: auto;
    border-radius: 10%;
    margin: 11% auto 1.5% auto;
    width: 65%;
  }

  #greeting {
    font-size: 450%;
  }
  
  .body-text {
    font-size: 175% !important;
  }

  #about {
    margin-top: 6%;
  }

  #about-subtitle {
    padding-top: 22%;
  }

  .devicon i {
    font-size: 100px;
    color: white;
    padding: 50px;
  }
  
  .devicon-border {
    margin-top: 2%;
  }

  #projects {
    margin-top: 21%;
  }

  #projects-subtitle {
    padding-top: 8.5%; 
  }

  .carousel-caption {
    display: block;
  }

  #contact {
    margin-top: 0%;
  }

  #contact-subtitle {
    padding-top: 19%;
  }

  #end {
    padding-top: 16.5%;
  }

  .messages {
    margin: 3% auto -3% auto;
  }
}

// End of resolution-based touch-ups // 

.title-text {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 75px;
}

.subtitle-text {
  color: rgb(255, 246, 192);
}

.body-text {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 30px;
}

.subtitle-text {
  font-size: 36px;
}

.body-text {
  font-size: 24px;
}

.navbar-custom {
  background-color: rgba(0, 0, 0, 0.925);
}

.carousel-caption {
  opacity: .8;
  position: relative;
  left: 0;
  top: 0;
}

.carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-indicators {
  bottom: -1%;
  filter: invert(100%);
}

.carousel-caption a {
  color: white; 
  cursor: pointer;  
}

.hidden {
  display: none;
}